.m-xuanfuleidong.is-mini {
    width: 100%;
}

.m-miniprogram {
    height: 100vh;
    width: 100%;
    background: linear-gradient(
        180deg,
        rgba(11, 26, 42, 1) 0%,
        rgba(11, 26, 42, 1) 55.56%,
        rgba(0, 10, 99, 1) 88.89%,
        rgba(7, 119, 224, 1) 100%
    );
    .m-one {
        .pt(240px);
        .x;
        .fz(12px,32px);
        color: #fff;
        box-sizing: border-box;
        height: 100vh;
        background: url("@{xuanfuleidong}miniBG.png?1") no-repeat center top;
        background-size: contain;
        .u-desc {
            padding: 80px 20px;
            opacity: 0.9;
        }
        .u-button {
            width: 50%;
            .auto(x);
        }
    }
    .m-two {
        .pt(180px);
        min-height: 100vh;
        box-sizing: border-box;
        background: url("@{xuanfuleidong}miniKV.png") no-repeat center top;
        background-size: contain;
        .m-tabs {
            gap: 20px;
            .u-tab-item {
                .size(25%,34px);
            }
        }
        .m-content {
            height: calc(100vh - 240px);
            .mt(-10px);
        }
        .m-introduction,
        .m-vote,
        .m-winner {
            height: calc(100% - 20px);
            overflow: auto;
        }
        .m-search {
            .none;
        }
        .u-axis {
            .size(100%,10px);
        }
        .m-info + .u-axis {
            transform: translateY(-10px);
        }
        .m-info {
            width: calc(100% - 40px);
            padding: 34px 24px 24px 24px;
            margin: 0 20px;
            .mt(-5px);
            .m-section {
                padding: 0;
                background: none;
                width: 100%;
                border: 0;
                .u-title {
                    .mt(0);
                    .size(140px,30px);
                    transform: translateY(0);
                }
                h3 {
                    .fz(16px);
                }
                p {
                    .fz(14px,30px);
                }
            }
            .u-enter {
                .flex;
                justify-content: center;
                align-items: center;
                .size(100%,150px);
                img {
                    width: 70%;
                    height: auto;
                }
            }
            .u-line {
                margin-top: 0;
                height: 130px;
                background-size: contain;
            }
            .u-button {
                .fz(14px,24px);
                padding: 0 12px;
            }
        }
        .m-vote {
            .u-line {
                height: 124px;
            }
            .m-vote-item {
                margin: 0 0 30px 0;
                background: linear-gradient(180deg, rgba(247, 248, 255, 1) 0%, #fff 100%);
                .m-item {
                    border: 0px;
                }
                .u-label {
                    .fz(16px,24px);
                }
                .u-content-mini {
                    .r(12px);
                    margin: 12px 0;
                    padding: 12px;
                    background-color: #fff;
                    .u-user {
                        .flex;
                        .fz(12px);
                        color: #999;
                        gap: 5px;
                        align-items: center;
                    }
                    .u-avatar {
                        .r(50%);
                        .size(18px);
                    }
                    .u-desc {
                        .db;
                        .x(left);
                        .fz(14px);
                        .mt(12px);
                        color: #666;
                        text-align: justify;
                        text-indent: 1em;
                    }
                }
                .u-vote {
                    .color(#fff);
                    .r(25px);
                    .bold;
                    height: 50px;
                    line-height: 50px;
                    background: linear-gradient(227.29deg, rgba(102, 117, 255, 1) 0%, rgba(102, 181, 255, 1) 100%);
                    .u-count {
                        font-weight: 400;
                        opacity: 0.6;
                    }
                }
            }
        }
        .m-winner-section {
            .m-title {
                .fz(14px);
                .u-title {
                    height: 68px;
                }
            }
            .m-item {
                height: auto;
                h4 {
                    .fz(20px);
                }
                .u-tag a {
                    .fz(16px);
                }
                .u-content {
                    text-indent: 1em;
                    overflow: visible;
                    white-space: normal;
                    text-overflow: clip;
                    -webkit-line-clamp: none;
                    line-clamp: none;
                }
            }
        }
    }
}
