.m-lover-live {
    .w(1240px);
    .auto(x);
    padding: 40px 0;
    .u-page-title {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        margin: 20px 0 30px 0;
    }
    .m-live-box {
        height: 697px; // 1240px width at 16:9 aspect ratio
        position: relative;
        box-sizing: border-box;
        .pointer;

        .u-frame-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            pointer-events: none; // 让鼠标事件穿透到下层
        }

        .m-live-iframe {
            width: 100%;
            height: 100%;
            border-radius: 8px;
        }

        .m-live-container {
            position: absolute;
            top: 5px;
            left: 15px;
            right: 15px;
            bottom: 5px;
            overflow: hidden;
            border-radius: 6px;
            z-index: 1;
        }
    }


    .m-player-list {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        justify-content: center;
    }
    .m-player-item {
        position: relative;
        overflow: hidden;
        border-radius: 16px;
        color: #fff;
        .size(384px, 308px);
        background: url("@{lover}/xuanshoubox.png") no-repeat center center;
        background-size: contain;
        padding: 12px;
        box-sizing: border-box;
        border: 1px solid #FFD573;

        &:hover {
            background: url("@{lover}/xuanshoubox-hover.png") no-repeat center center;
            background-size: contain;
        }
        .u-default-img {
            border-radius: 4px;
            margin-bottom: 4px;
            box-sizing: border-box;
            .size(360px, 194px);
        }

        // 让粒子特效定位在正确的位置上
        .particle-container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 3;
        }
    }

    .m-player-info {
        color: #FFE9C7;
        .u-team-logo {
            .size(80px);
            .fl;
            margin-right: 12px;
            border-radius: 4px;

            border: 1px solid rgba(249, 226, 193, 1);
            box-sizing: border-box;
        }

        .u-teammate {
            .flex;
            gap: 4px;
            align-items: center;

            &:not(:last-child)::after {
                content: "";
                display: inline-block;
                background: url("@{lover}/meigui.png") no-repeat center center;
                background-size: contain;
                width: 12px;
                height: 12px;
                margin-right: 4px;
                vertical-align: middle;
            }
        }
        .u-avatar {
            .size(20px);
            border-radius: 50%;
            overflow: hidden;
        }
        .u-teammates {
            font-size: 12px;
            .flex;
            align-items: center;
        }
        .u-slogan {
            font-size: 12px;
            margin: 8px 0;
            .break(2);
        }
    }
}
