.m-lover-vote {
    @min-height: 120px;
    .w(1240px);
    .auto(x);
    .u-page-title {
        .mb(40px);
    }
    .u-title-img {
        height: 96px;
    }
    .m-rule-box {
        background: radial-gradient(48.55% 91.83% at 50% 0%, #9e7246 0%, #5e3730 100%);
        color: #fff;
        padding: 24px 0;
        .x;
    }
    .u-rule-title {
        .fz(20px,1.5);
        margin: 0;
        padding: 0;
        color: #fff;
    }
    .u-rule-icon {
        margin: 4px 0;
        font-size: 18px;
        font-weight: 100;
    }
    .u-rule {
        font-size: 16px;
        font-weight: 400;
    }
    .m-vote-list {
        .flex;
        .mt(48px);
        .fz(12px);
        flex-wrap: wrap;
        color: #fff;
        gap: 24px;
        .m-vote-box {
            padding: 10px;
            flex-shrink: 0;
            .pr;
            .size(200px, 280px);
            border-radius: 16px;
            background: url("@{lover}/toupiaoye-mr.png") center center no-repeat;
            background-size: cover;
            border: 1px solid #FFD573;

            &.is-voted {
                .u-hot-icon {
                    color: #FF5E5E;
                }
            }

            &:hover {
                background: url("@{lover}/toupiaoye-xt.png") center center no-repeat;
                background-size: cover;
            }
         }
        .u-hot {
            .fz(13px);
            margin-bottom: 6px;
            font-weight: 300;
        }
        .u-img {
            .size(auto,120px);
            background-color: #999;
        }
        .m-team-box {
            .flex;
            margin-top: 6px;
            flex-direction: column;
            gap:4px;
        }
        .u-team {
            .fz(16px);
            .bold;
            .nobreak;
        }
        .u-hua-icon {
            .size(12px);
            .pr;
            top: 1px;
            margin: 0 4px 0 3px;
        }
        .u-name {
            .flex;
            font-size: 13px;
            align-items: center;
        }
        .u-slogan {
            .break(2);
            font-size: 12px;
        }

        .u-button {
            .pa;
            .rb(10px);
            .pointer;
            .size(72px,30px);
            align-self: flex-end;
            background: url("@{lover}/vote-btn.png") no-repeat center center;
            background-size: 100% 100%;
            .flex;
            align-items: center;
            justify-content: center;
            &:hover {
                background: url("@{lover}/vote-btn-hover.png") no-repeat center center;
                background-size: 100% 100%;

                .u-text::after {
                    content: "♥";
                }
            }
            &.voted {
                cursor: not-allowed;
                pointer-events: none;
                background: url("@{lover}/vote-btn-voted.png") no-repeat center center;
                background-size: 100% 100%;
                &:hover {
                    background: url("@{lover}/vote-btn-voted.png") no-repeat center center;
                    background-size: 100% 100%;
                }

                .u-text::after {
                    content: "";
                }
            }
            &.disabled {
                cursor: not-allowed;
                pointer-events: none;
                background: url("@{lover}/vote-btn-voted.png") no-repeat center center;
                background-size: 100% 100%;
                &:hover {
                    background: url("@{lover}/vote-btn-voted.png") no-repeat center center;
                    background-size: 100% 100%;
                }
            }
        }
        .u-text {
            &::after {
                content: "♡";
                margin-left: 2px;
            }
        }
    }
}
