.m-yixueshangyang {
    max-width: 1920px;
    min-width: 1240px;
    .clip;
    .auto(x);
    .pt(@header-height);
    .m-sections(7);
    .m-section {
        .u-title {
            .db;
            .auto(x);
        }
        .m-carousel-indicators {
            .flex;
            .mb(150px);
            justify-content: center;
            align-items: center;
            &::before,
            &::after {
                content: "";
                .mt(-1px);
                .size(350px,68px);
                background: url("@{kv_yixueshangyang}line1.png") no-repeat center center;
                background-size: 100% 2px;
            }
            &::after {
                transform: rotate(180deg);
            }
            .u-item {
                .pr;
                .size(68px);
                margin: 0 100px 0 0;
                &::after {
                    content: "";
                    .db;
                    .size(100px,68px);
                    .ml(68px);
                    background: url("@{kv_yixueshangyang}line2.png") no-repeat center center;
                    background-size: 100% 2px;
                }

                &:last-child {
                    margin: 0;
                    &::after {
                        .none;
                    }
                }
                img {
                    .pointer;
                    .pa;
                    .lt(0);
                    .size(68px);
                    max-width: none;
                    &.u-active {
                        .none;
                        .size(86px);
                        margin: -7px 0 0 -7px;
                    }
                }
                &.active {
                    img {
                        .none;
                    }
                    img.u-active {
                        .db;
                    }
                }
            }
        }
        &-1 {
            height: 1090px;
            .u-logo {
                .pa;
                .size(338px,98px);
                .lt(60px,50px);
            }
            .u-yxsy {
                .pa;
                .size(1126px,auto);
                .lb(50%,200px);
                .ml(-563px);
            }
        }
        &-2 {
            .pt(100px);
            height: 1321px;
            .u-title {
                .w(725px);
            }
            .m-container {
                .mt(200px);

                .u-item-content {
                    .flex;
                    align-items: center;
                    justify-content: center;
                }

                .u-img {
                    .size(1030px, 546px);
                }
            }
        }
        &-3 {
            .pt(300px);
            height: 1528px;
            .u-title {
                .w(523px);
            }
            .m-container {
                .mt(150px);

                .u-item-content {
                    .pr;
                    .flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    h2 {
                        font-size: 58px;
                        .bold;
                        .color(#FFEABD);
                        .mb(-40px);
                        letter-spacing: 26px;
                        .z(1);
                        .ml(26px);
                    }
                    .u-img {
                        .size(1125px, auto);
                    }
                    &-1 {
                        .u-img2 {
                            .pa;
                            .size(716px, auto);
                            .lb(0);
                        }
                    }
                    &-3 {
                        .u-img2 {
                            .pa;
                            .rb(100px,0);
                            .size(378px,auto);
                        }
                    }
                }
            }
        }
        &-4,
        &-5 {
            .pt(200px);
            height: 1373px;
            .u-title {
                .w(448px);
            }
            .el-carousel--horizontal {
                overflow: visible !important;
            }
            .m-container {
                .mt(100px);
                background: url("@{kv_yixueshangyang}syt_bg_1.png") repeat-x bottom center;
                background-size: 100% 650px;

                .el-carousel__item {
                    overflow: visible !important;
                    .u-item-content {
                        .pr;
                        .auto(x);
                        width: 1000px;
                        h2 {
                            .pa;
                            .x;
                            .fz(36px);
                            .w(500px);
                            top: 30px;
                            .color(#FFDF99);
                            font-weight: 400;
                            background: url("@{kv_yixueshangyang}title-line.png") no-repeat center center;
                            background-size: contain;
                        }
                        .u-img {
                            .pa;
                            .rt(-80px,-98px);
                            height: 728px;
                        }
                        .u-img2 {
                            .pa;
                            .z(2);
                            top: 200px;
                            width: 641px;
                        }
                    }
                }
            }
        }
        &-5 {
            height: 1613px;
            .m-container {
                background: url("@{kv_yixueshangyang}gfd_bg_1.png") repeat-x bottom center;
                background-size: 100% 650px;
                h2 {
                    right: 0;
                }
                .u-img {
                    .pa;
                    .lt(-50%,-98px);
                    height: 728px;
                }
                .u-img2 {
                    .z(2);
                    left: 50%;
                    top: 150px !important;
                    width: 641px;
                }
            }
        }
        &-6 {
            .pt(300px);
            height: 1404px;
            .u-title {
                .w(527px);
            }
            .m-box {
                .flex;
                .mt(200px);
                max-width: 1200px;
                .auto(x);
                justify-content: space-between;
                .u-card {
                    .pr;
                    .pointer;
                    .size(375px, 693px);
                    perspective: 1000px;
                    img {
                        .pa;
                        .lt(0, 0);
                        .w(100%);
                        transition: transform 0.6s;
                        backface-visibility: hidden;
                        &.u-img {
                            .z(1);
                            transform: rotateY(0deg);
                        }
                        &.u-img-hover {
                            transform: rotateY(-180deg);
                        }
                        &.u-img.active {
                            transform: rotateY(180deg);
                        }
                        &.u-img-hover.active {
                            transform: rotateY(0deg);
                        }
                    }
                }
            }
        }
        &-7 {
            height: 568px;
            .flex;
            justify-content: center;
            align-items: center;
            .u-logo {
                .w(638px);
            }
        }
    }
}

.m-sections(@n, @i: 1) when (@i <= @n) {
    .m-section-@{i} {
        .pr;
        background: url("@{kv_yixueshangyang}bg/bg_0@{i}.jpg") no-repeat 0 0;
        background-size: 1920px auto;
        box-sizing: border-box;
    }
    .m-sections(@n, (@i + 1));
}
