.p-topic {
    width: 100%;
    margin: 0 auto;
    // overflow-x: hidden;
}

.m-index {
    --page-width: max(100vw, 1908px);
    width: 100%;
    min-width: var(--page-width);
    .pr;
    margin: 0 auto;
    overflow: hidden;

    img {
        .db();
        user-select: none;
    }

    .m-top {
        margin-top: calc(var(--page-width) * 0.031447);
        .u-kv {
            width: 100%;
            height: auto;
        }
    }

    .m-excessive {
        width: 100%;
        .pa;
        .flex;
        .z(3);
        top: calc(var(--page-width) * 0.443396);
        overflow: hidden;

        .u-img {
            width: 50%;
            height: auto;
        }

        .u-img-line {
            .pa;
            .z(4);
            top: calc(var(--page-width) * 0.090671);
            width: 100%;

            img {
                width: 100%;
                height: auto;
            }
        }
    }

    .m-two {
        .pr;
        height: calc(var(--page-width) * 0.562369);
        .u-switch {
            z-index: 10;
            .pa;
            left: calc(var(--page-width) * 0.262055);
            top: calc(var(--page-width) * 0.241090);
            .flex;
            flex-direction: column;

            .u-round {
                .pointer;
                z-index: 10;
                .size(calc(var(--page-width) * 0.008386));
                border: calc(var(--page-width) * 0.002096) solid #fff;
                .r(50%);
                background-color: transparent;
                margin-bottom: calc(var(--page-width) * 0.008386);

                &.solid {
                    background: #fff;
                }
            }
        }
        .el-carousel__indicators {
            display: none;
        }
        .el-carousel,
        .el-carousel__container,
        .el-carousel__item,
        .el-carousel__item img {
            width: 100%;
            height: 100%;
        }
        .el-carousel {
            height: 100% !important;
        }
        .el-carousel__container {
            height: 100% !important;
        }
        .el-carousel__item img {
            object-fit: cover;
        }
    }

    .m-excessive2 {
        width: 100%;
        .pa;
        .z(3);
        top: calc(var(--page-width) * 0.934172);

        .u-img {
            width: 100%;
            height: auto;
        }
    }

    .m-three {
        height: calc(var(--page-width) * 0.369497);
        background: #32425a;
        .flex;
        align-items: center;
        flex-direction: column;
        margin-top: calc(var(--page-width) * 0.057652);
        padding-top: calc(var(--page-width) * 0.010482);
        box-sizing: border-box;

        .u-main-box {
            .dbi;
            width: calc(var(--page-width) * 0.398323);
            height: calc(var(--page-width) * 0.241090);
            background: #fff;
            border: 1px solid #000;

            .u-video {
                width: 100%;
                height: 100%;

                iframe {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .u-five-box {
            .flex;
            gap: calc(var(--page-width) * 0.005241);
            margin-top: calc(var(--page-width) * 0.005241);

            .u-item-box {
                width: calc(var(--page-width) * 0.060273);
                height: calc(var(--page-width) * 0.045204);
                cursor: pointer;
                border: 2px solid transparent;
                box-sizing: border-box;

                &-active {
                    border: 2px solid #859cad;
                }
            }
        }

        .u-img {
            .h(100%);
            object-fit: cover;
        }
    }

    .m-excessive3 {
        width: 100%;
        .pa;
        top: calc(var(--page-width) * 1.551363);

        .u-img {
            width: 100%;
            height: auto;
        }
    }

    .m-four {
        height: calc(var(--page-width) * 0.157233);
        .flex;
        justify-content: center;
        align-items: center;
        background: #b6c6df;

        > img {
            height: calc(var(--page-width) * 0.087526);
        }
    }
}

/* 控制整个滚动条 */
::-webkit-scrollbar {
    .size(12px);
}

/* 控制滚动条轨道 */
::-webkit-scrollbar-track {
    background: #f1f1f1; /* 颜色和样式 */
}

/* 控制滚动条滑块 */
::-webkit-scrollbar-thumb {
    background: #888; /* 滑块颜色 */
}

/* 控制滚动条滑块hover效果 */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* 滑块hover颜色 */
}

.v-miniprogram{
    .m-index .m-top{
        margin:0;
    }
}
