// 全局
body{
    min-width: 1280px;
    background: linear-gradient(180deg, rgba(32, 51, 69, 1) 62%, rgba(84, 102, 120, 1) 100%);
}
// 移动适配
@media screen and (max-width: @ipad) {
    body {
        min-width: 0;
    }
}

// 公共头半透明
.c-header {
    background: rgba(0, 0, 0, 0.5);
}
.v-miniprogram {
    .c-header,
    .c-footer,
    .c-footer--v4 {
        .none;
    }
}

// 包裹区域（背景图）
.m-rank-container {
    margin: 0 auto;
}

// 背景图&动画
#m-rank-star {
    .pa;
    .lt(0);
    .w(100%);
    z-index: -1;
}

.m-rank-bg {
    .w(100vw);
    .pa;
    .lt(0);
    // .pa;top:0;left:50%;transform: translateX(-50%);
    .z(1);
    min-height: 100vh;
    img {
        .db;
        .auto(x);
    }
}

// 内容区
.m-rank-primary {
    .mt(@header-height);
    .auto(x);
    .pr;
    .z(1);
    .magic-build(@box_width);
}
.v-miniprogram{
    .m-rank-primary {
        .mt(0);
    }
}

.m-rank-pop-wechat {
    border: none;
    height: 400px;
    margin: 0 auto;
    display: block;
}
.m-rank-pop-wechat-tips {
    .x;
    color: #ff7600;
}
