.m-item-box {
    .pr;
    .r(24px);
    box-sizing: border-box;
    width: 376px;
    background: rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease-in-out;
    padding: 24px;
    .m-item {
        .pr;
        .pointer;
        .r(16px);
        .clip;
        .mb(24px);
        color: #fff;
        padding: 32px 36px;
        box-sizing: border-box;
        width: 100%;
        background: linear-gradient(180deg, #7676f0 0%, #9495e9 100%);
        &::before {
            content: "";
            .pa;
            .lt(0);
            .tm(0);
            .size(100%);
            transition: opacity 0.3s ease-in-out;
            background: linear-gradient(180deg, #f9c27f 0%, #9697ed 100%);
        }
        .u-title {
            .flex;
            .pr;
            .bold;
            .fz(24px);
            .x;
            justify-content: center;
            align-items: center;
            max-width: 300px;
            box-sizing: border-box;
            font-family: "ALIMAMASHUHEITI";
        }
        .u-author {
            .x;
            .fz(14px);
            .tm(0.75);
            .mt(5px);
            a {
                color: #fff;
            }
        }
        .m-record {
            .pr;
            padding: 42px 0 3px 0;
            .u-needle {
                .pa;
                .lt(50%,0);
                .size(120px,72px);
                .ml(-10px);
                transition: transform 0.3s ease-out, top 0.3s ease-out, margin 0.3s ease-out;
                transform-origin: 0% 0%;
                transform: rotate(0deg);
                &.isPlaying {
                    top: -4px;
                    margin: 2px;
                    transform-origin: 0% 0%;
                    transform: rotate(30deg);
                    display: inline-block;
                }
            }
            .u-record {
                .size(182px);
                .auto(x);
                padding: 28px;
                box-sizing: border-box;
                background: url("@{jx3cxk}web/item/record.svg") no-repeat center center;
                background-size: 100% 100%;
            }
            .u-avatar {
                .r(50%);
                transition: transform 0.6s ease-out;
                &.isPlaying {
                    animation: rotate 6s linear infinite;
                }
            }
        }
        .m-play {
            .pr;
            .flex;
            .pt(10px);
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            .u-play-button {
                .flex;
                justify-content: space-between;
                width: 70%;
                box-sizing: border-box;
                margin: 0 15% 20px 15%;
                align-items: center;
            }
            .u-icon {
                .size(24px);
            }
            .u-play {
                .size(64px);
            }
            .u-like {
                .tm(0.75);
                .flex;
                align-items: center;
                gap: 5px;
                .u-icon {
                    .size(20px);
                }
            }
            .u-link {
                .tm(0.75);
                color: #fff;
            }
        }
    }
    .m-button {
        .flex;
        .pointer;
        .size(220px,54px);
        .r(27px);
        .auto(x);
        transition: all 0.3s ease-in-out;
        align-items: center;
        border: 1px solid #fff;
        background-color: #fff;
        box-sizing: border-box;
        user-select: none;
        .u-call {
            .pr;
            .bold;
            .x;
            .clip;
            .fz(24px,52px);
            .r(27px);
            .size(160px,52px);
            color: #fff;
            background: linear-gradient(180deg, #7689ff 0%, #e889f9 100%);
            span {
                .dbi;
                transition: all 0.3s ease-in-out;
            }
            &::before {
                content: "";
                .pa;
                .lt(0);
                .tm(0);
                .size(100%);
                transition: opacity 0.3s ease-in-out;
                background: linear-gradient(180deg, #ff92a9 0%, #ffb570 100%);
            }
        }
        .u-icon {
            .size(32px);
            .auto(x);
            transition: all 0.3s ease-in-out;
            &.u-hover,
            &.u-active {
                .none;
            }
        }
        &:hover {
            .u-call {
                &::before {
                    .tm(1);
                }
                span {
                    transform: rotate(12deg) scale(1.1);
                }
            }
            .u-icon {
                .none;
                &.u-hover {
                    .db;
                }
            }
        }
        &.active {
            background: linear-gradient(180deg, #f9bde1 0%, #ca5e9a 99%);
            &:hover {
                .u-call::before {
                    .none;
                }
            }
            .u-call {
                order: 1;
                background: linear-gradient(180deg, #ffffff 0%, #ffb8d1 100%);
                span {
                    transform: rotate(0) scale(1);
                    color: #cd4590;
                }
            }
            .u-icon {
                .none;
                &.u-hover {
                    .none;
                }
                &.u-active {
                    .db;
                    order: 0;
                }
            }
        }
    }
    .m-bilibili {
        .pa;
        .clip;
        .lt(100px);
        .size(100px);
        // .z(-1);
        z-index: 9;
    }
    &.play {
        .m-item {
            background: linear-gradient(180deg, #55c79f 0%, #9697ed 100%);
        }
    }
    &:hover {
        background: rgba(255, 255, 255, 0.15);
        .m-item::before {
            .tm(1);
        }
    }
    &.m-show-item {
        width: 500px;
        background: none;
        .m-item {
            padding: 24px 95px;
            margin-bottom: 0;
            .u-name {
                .pr;
                .fz(24px);
                .x;
                .db;
                font-family: "ALIMAMASHUHEITI";
                color: #fff;
                width: 100%;
            }
            .m-play {
                width: calc(100% + 10px);
                .ml(-10px);
                flex-wrap: nowrap;
                .u-play-button {
                    order: 1;
                    margin: 0;
                    justify-content: center;
                    gap: 24px;
                    .u-icon {
                        .size(18px);
                        &.u-play {
                            .size(36px);
                        }
                    }
                }
                .u-like {
                    .fz(16px);
                    width: 50px;
                    flex-direction: column;
                    order: 0;
                    flex-shrink: 0;
                    gap: 0;
                    align-items: center;
                    .u-icon {
                        .size(12px);
                    }
                }
                .u-link {
                    .fz(14px);
                    .r(3px);
                    .x;
                    width: 36px;
                    order: 2;
                    flex-shrink: 0;
                    border: 1px solid #fff;
                    padding: 0 4px;
                }
            }
            .u-song {
                .fz(18px);
                .tm(0.5);
                margin: 20px 0;
                &::before,
                &::after {
                    .none;
                }
                .marquee-text {
                    &::before,
                    &::after {
                        .none;
                    }
                }
            }
        }
        .m-button {
            .none;
        }
    }
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
