@media screen and (max-width: @phone) {
    .wp {
        width: 100%;
        padding: 0 10px !important;
    }
    .p-jx3cxk {
        margin-top:@header-height;
        max-width: 100%;
        min-height: auto;
        .m-kv {
            width: auto;
            height: 420px;
            min-height: auto;
            overflow: hidden;
            background: none;
            .mb(20px);
            .u-mp4 {
                width: auto;
                height: 420px;
                object-fit: cover;
            }
            .u-year {
                .flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                left: 0;
                bottom: 86px;
                height: 26px;
                margin-left: 0;
                img {
                    height: 100%;
                }
            }
        }
        .m-tabs {
            padding: 0 10px;
            gap: 5px;
            justify-content: center;
            .u-tab {
                font-size: 12px;
                height: 38px;
                padding: 0 14px;
                border-radius: 20px;
                .nobreak;
            }
        }
        .m-content {
            .m-vote {
                padding: 0 10px;
                background-color: transparent;
                .m-item-box {
                    width: 100%;
                }
            }
            .u-info {
                line-height: 32px;
                font-size: 18px;
                b {
                    font-size: 20px;
                    padding: 0 5px;
                }
            }
            .u-info img.u-title,
            &.m-stats .m-list img.u-title {
                .size(228px,40px);
                .ml(-114px);
                top: -24px;
            }
            &.m-info {
                .m-preface {
                    padding: 0 10px;
                    .mb(100px);
                    .u-info {
                        font-size: 14px;
                        line-height: 32px;
                        padding: 40px 10px;
                        width: 100%;
                        box-sizing: border-box;
                        b {
                            .fz(15px);
                            margin: 0 8px;
                        }
                    }
                }
                .m-event-time {
                    width: 100%;
                    height: auto;
                    padding: 60px 0 50px 0;
                    .mb(50px);
                    .m-times {
                        zoom: 0.35;
                    }
                    .u-line {
                        height: 8px;
                        .lb(0,53px);
                    }
                }
                .m-ready {
                    height: 100px;
                    padding: 34px 60px 0 0;
                    background-size: contain;
                    .mb(100px);
                    .u-info {
                        zoom: 0.7;
                        padding: 0;
                        .fz(12px,20px);
                    }
                }
                .m-condition {
                    h2 {
                        .fz(24px);
                        .u-icon {
                            .size(30px);
                        }
                    }
                    ul {
                        width: 100%;
                        padding: 0 0 0 40px;
                        li {
                            .fz(14px,24px);
                            gap: 10px;
                        }
                    }
                }
                .m-step {
                    .u-step {
                        .u-info {
                            .fz(14px);
                        }
                        .u-img {
                            max-width: 90%;
                            .auto(x);
                        }
                    }
                }
                .m-reward {
                    min-height: 100px;
                    .m-reward-content {
                        padding: 50px 10px 10px 10px;
                    }
                }
            }
            &.m-stats {
                .mb(100px);
                .m-list {
                    padding: 40px 20px;
                    &.m-top-list {
                        .mt(100px);
                    }
                    .m-item-box.m-show-item {
                        width: 100%;
                    }
                }
            }
        }
    }
}
