#m-rank-star {
    display: none;
}

.m-rank-surprise__main {
    max-width: 1280px;
    margin: 0 auto;
    padding-bottom: 40px;
    box-sizing: border-box;
}
.m-rank-surprise__header {
    .u-img-bottom {
        .h(4px);
        .mb(30px);
        background: linear-gradient(to right, #ffffff, rgba(255, 255, 255, 0));
    }
}

.m-rank-surprise{
    padding:20px;
}
