.c-midAutumn-introduce {
    // .flex;
    min-height: 100%;
    background-color: #f5f5f7;
    // align-items: center;
    color: #565b6b;
    .fz(14px,21px);
    .bold(400);

    &.has-year-spacing {
        box-sizing: border-box;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .u-content {
        img {
            display: block;
            max-width: 100%;
            height: auto;
            margin: 16px auto;
        }
    }

    .u-tips {
        position: fixed;
        left: -73px;
        bottom: -144px;
        .fz(256px,284px);
        .bold(400);
        color: rgba(255, 255, 255, 0.5);
        z-index: 0;
    }
}
