.p-jx3story {
    .clip;
    width: 100%;
    height: calc(100vh - 64px);
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("@{jx3story}web/1/bg.jpg") center/cover no-repeat;
    .mp4 {
        max-height: calc(100vh - 64px);
    }
    .u-logo {
        max-width: 1800px;
        margin: -520px 0 0 -120px;
    }
}
