.p-event {
    .pt(0);
}
.p-jx3story-mini {
    .pr;
    padding: 10% 0;
    box-sizing: border-box;
    height: 100vh;
    background: url("@{jx3story}mini/index/bg.jpg") no-repeat top center/cover;
    .m-menu {
        .flex;

        .pa;
        width: 100%;
        left: 0;
        bottom: 160px;
        justify-content: space-around;
        .u-menu-item {
            .x;
            .fz(16px,24px);
            color: #fff;
            padding: 0 20px;
            transition: all 0.3s ease-in-out;
            background: url("@{jx3story}mini/title0.png") no-repeat top center/cover;
            &:hover {
                background: url("@{jx3story}mini/title2.png") no-repeat top center/cover;
            }
        }
    }
}
