body {
    min-width: 1280px;

    img {
        display: inline-block;
        vertical-align: unset;
    }
}

.v-miniprogram {
    .c-header,
    .c-footer,
    .c-footer--v4 {
        .none;
    }

    .p-topic-container {
        margin-top: 0;
        min-height: 100vh;

        .m-navigation {
            height: 100vh;
        }
    }
    .m-index {
        margin-top: 0;
    }
}

.topic-shell {
    width: 100%;
    overflow-x: hidden;
}

.topic-main {
    margin-left: auto;
    margin-right: auto;
}
