@media screen and (max-width: @phone) {
    .p-topic {
        .c-header,
        .c-footer--v4 {
            .none;
        }
    }
}

body {
    min-width: 1280px;

    img {
        display: inline-block;
        vertical-align: unset;
    }
}

.v-miniprogram {
    .c-header,
    .c-footer,
    .c-footer--v4 {
        .none;
    }

    .p-topic-container {
        margin-top: 0;
        min-height: 100vh;

        .m-navigation {
            height: 100vh;
        }
    }
    .m-index {
        margin-top: 0;
    }
}
