.m-index {
    --page-width: max(100vw, 1280px);
    --content-width: calc(var(--page-width) * 0.7);
    width: 100%;
    min-width: 1280px;
    max-width: 100%;
    overflow-x: hidden;
    .first-screen {
        width: 100%;
        height: calc(var(--page-width) * 0.572917);
        display: block;
    }
    .optimization_reform {
        position: relative;
        height: calc(var(--page-width) * 0.541667);
        .bg {
            width: 100%;
            display: block;
            height: 100%;
        }
        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: var(--content-width);
            height: calc(var(--page-width) * 0.445833);
            margin-left: calc(var(--content-width) * -0.5);
            position: absolute;
            top: 0;
            left: 50%;
            .title {
                transform: translateY(calc(var(--page-width) * 0.15625));
                opacity: 0;
                width: calc(var(--content-width) * 0.6956842857);
                height: calc(var(--page-width) * 0.156771);
            }
            .imgs {
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin: calc(var(--page-width) * 0.005208) 0 calc(var(--page-width) * 0.015625);
                .img {
                    width: 23.8095714286%;
                    height: calc(var(--page-width) * 0.235938);
                    transform: translateY(calc(var(--page-width) * 0.15625));
                    opacity: 0;
                }
                .flowUp {
                    animation: flowUp 0.3s linear 0.05s 1 forwards;
                }
            }
            .text {
                color: #000;
                font-family: "Microsoft YaHei";
                font-size: calc(var(--page-width) * 0.008333);
                font-style: normal;
                font-weight: 400;
                line-height: calc(var(--page-width) * 0.016667);
            }
        }
    }
    .secret_land {
        position: relative;
        height: calc(var(--page-width) * 0.625);
        .bg {
            width: 100%;
            display: block;
            height: 100%;
        }
        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            .title {
                width: calc(var(--page-width) * 0.486979);
                height: calc(var(--page-width) * 0.156771);
            }
            .introduce {
                width: 100%;
                display: flex;
                height: calc(var(--page-width) * 0.291667);
                padding: calc(var(--page-width) * 0.010417) 0;
                .img {
                    width: 50%;
                    height: 100%;
                }
                .text {
                    background: #222;
                    padding: calc(var(--page-width) * 0.010417);
                    .text-title {
                        color: #fff;
                        font-family: "Microsoft YaHei";
                        font-size: calc(var(--page-width) * 0.016667);
                        font-style: normal;
                        font-weight: 700;
                        line-height: calc(var(--page-width) * 0.025);
                        margin-bottom: calc(var(--page-width) * 0.010417);
                    }
                    .text-content {
                        max-height: calc(var(--page-width) * 0.234375);
                        overflow: scroll;
                        scrollbar-width: none;
                        color: #ededed;
                        font-family: "Microsoft YaHei";
                        font-size: calc(var(--page-width) * 0.009375);
                        font-style: normal;
                        font-weight: 400;
                        line-height: calc(var(--page-width) * 0.014063);
                    }
                }
            }
            .button {
                width: calc(var(--page-width) * 0.059375);
                height: calc(var(--page-width) * 0.020833);
                transform: translateY(calc(var(--page-width) * 0.130208));
                transition: filter 0.3s;
                &:hover {
                    filter: brightness(150%);
                }
            }
        }
    }
    .boss {
        width: 100%;
        height: calc(var(--page-width) * 0.55625);
        position: relative;
        .bg-head {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            display: block;
            height: calc(var(--page-width) * 0.089583);
            z-index: 10;
        }
        .bg-foot {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            display: block;
            height: calc(var(--page-width) * 0.089583);
            z-index: 10;
        }
        .bg-content {
            opacity: 0;
            width: 100%;
            display: block;
            height: 100%;
            background-size: contain;
            background-repeat: no-repeat;
        }
        .bg-boss {
            opacity: 0;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            display: block;
            height: 100%;
            background-size: contain;
            background-repeat: no-repeat;
        }
        .boss-names {
            position: absolute;
            top: 50%;
            left: calc(var(--page-width) * 0.010417);
            color: #fff;
            margin-top: calc(var(--page-width) * -0.069792);
            cursor: pointer;
            .boss-name {
                font-family: "Microsoft YaHei";
                font-size: calc(var(--page-width) * 0.010938);
                font-style: normal;
                font-weight: 400;
                line-height: calc(var(--page-width) * 0.02474);
                transition: all 0.3s;
            }
            .isActive {
                color: #fff;
                font-family: "Microsoft YaHei";
                font-size: calc(var(--page-width) * 0.016667);
                font-style: normal;
                font-weight: 700;
                line-height: calc(var(--page-width) * 0.020833);
            }
        }
    }
    .fadeIn {
        .bg-content {
            animation: fadeIn 0.3s linear 1 forwards;
        }
        .bg-boss {
            animation: fadeIn 0.3s linear 0.015s 1 forwards;
        }
    }
    .flowUp {
        animation: flowUp 0.3s linear 1 forwards;
    }
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes flowUp {
        0% {
            transform: translateY(calc(var(--page-width) * 0.15625));
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }
}
